/*  your css code here. If applicable */
#container {
margin: 20px;
}
#container::before {
content: "Special Before ";
color: #f00;
font-size: 20px;
}
#container::after {
content: " Special After";
color: #f00;
font-size: 20px;
}