#container {
  margin: 20px;
}

/* Text BEFORE the container */
#container::before {
  content: "Before Container";
  color: #f00;
  font-size: 20px;
  display: block;
}

/* Text AFTER the container */
#container::after {
  content: "After Container";
  color: #f00;
  font-size: 20px;
  display: block;
}
